<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>start Amount</strong>: <%= user.local.startAmount %>
                    </p>

            </div>
        </div>
        
        <div class="yourStawks col-sm-6">
            <h1>Your Portfolio Balance <span><%= user.local.balance %> </span> </h1>
                <% if (user.local.portfolio.length) { %>
                 <%   user.local.portfolio.forEach(function (obj) { %>
                        <p id="<%=obj.symbol%>"> 
                            You have <%=obj.noOfShares %> shares of <%= obj.name %>.   
                            The average price paid for each share is <%=obj.price %> and your total invested amount is <%=obj.investedamount%>
                        </p>
                                                        
                  <%  }); %>   
                <% } %>

                
        </div>
    
    </div>
    <div class="row">             
        <div class="col-sm-6">
            <% if (user.local.portfolio.length) { %>
                <div class="theChoiceIsYours">
                    <label>Buy Or Sell</label>
                    <input type="radio" name="tradeAction" value="buy" checked> Buy
                    <input type="radio" name="tradeAction" value="sell" > Sell
                </div>
            <% } %>
                <div id="buyStocks" class="stockAction">
                    <h3>Time to Pick some stawks</h3>
                    <p>
                        <label>choose stock symbol</label>
                        <input type="text" name="symbol">
                        <button class="getQuote">Get Quote</button>
                        <span class="quote" style="display:block;"></span>
                    </p>
                    <p>
                        <label>choose amount to invest</label>
                        <input type="text" name="amount">
                    </p>
                    <button id="buy_stock" class="placeOrder">Submit</button>
                </div>
            
                <div id="sellStocks" class="stockAction hide">
                    <h3>Time to Sell some stawks and Cash In</h3>
                    <p>
                        <label>choose stock symbol</label>
                        <input type="text" name="symbol">
                        <button class="getQuote">Get Quote</button>
                        <span class="quote" style="display:block;"></span>
                    </p>
                    <p>
                        <label>choose amount to sell</label>
                        <input type="text" name="amount">
                    </p>
                    <button id="sell_stock" class="placeOrder">Submit</button>
                </div>
        </div>
    </div>

</div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
    <script src="/js/test.js"></script>
</body>
</html>